<h1 class="users-title">Welcome to Users page</h1>
  <ul>
    <% @users.each do |user|%>
      <%= link_to user do %>
        <li class="card flex">
          <div class="user-image border">
            <img src=<%= user.photo %> alt="" width="100%" heigth="100%">
          </div>
          <div class="user-data border">
            <h1><%= user.name %></h1>
            <p class="number-posts">Number of posts: <%= user.posts_counter %></p>
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>



